<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>map.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2EB2D29E1E811AE800EC057C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EB2D2B71E811AE800EC057C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EB2D2C21E811AE800EC057C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
